trigger:
- main

pool:
  name: Default   # self-hosted macOS agent

variables:
  IMAGE_NAME: fastapi-app
  TAG: $(Build.BuildId)
  ACR_NAME: aksdevopsacr7

steps:
# ----------------------------------------
# Checkout
# ----------------------------------------
- checkout: self

# ----------------------------------------
# Force Docker to use amd64 ONLY
# ----------------------------------------
- script: |
    echo "Forcing docker to linux/amd64"
    export DOCKER_DEFAULT_PLATFORM=linux/amd64
    docker info | grep -i architecture
  displayName: Force amd64 platform

# ----------------------------------------
# Login to ACR
# ----------------------------------------
- task: Docker@2
  displayName: Login to ACR
  inputs:
    command: login
    containerRegistry: azure-arc-connection

# ----------------------------------------
# Build amd64 image (NO buildx)
# ----------------------------------------
- script: |
    set -e
    docker system prune -af

    docker build \
      --no-cache \
      --pull \
      --platform linux/amd64 \
      -t $(ACR_NAME).azurecr.io/$(IMAGE_NAME):$(TAG) \
      .

    docker push $(ACR_NAME).azurecr.io/$(IMAGE_NAME):$(TAG)
  displayName: Build and Push clean amd64 image

