trigger:
- main

variables:
  imageName: fastapi-app
  tag: $(Build.BuildId)

stages:
- stage: Build
  displayName: Build and Push Docker Image
  jobs:
  - job: DockerBuild
    displayName: Docker Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push Image to ACR
      inputs:
        containerRegistry: acr-connection
        repository: $(imageName)
        command: buildAndPush
        Dockerfile: Dockerfile
        tags: |
          $(tag)
